<body>
    <form action="{% url 'login' %}?next=/swagger/" method="post">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <input type="submit" value="登入" />
    </form>
</body>